[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/foxandfeature/godot-cpp
	branch = 4.5
[submodule "CoACD"]
	path = CoACD
	url = https://github.com/foxandfeature/CoACD
	branch = godot
