name: Build godotcoacd for Android

on:
  workflow_call:
  workflow_dispatch:

jobs:
  android:
    name: ${{ matrix.arch }} - ${{ matrix.target }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        arch: [arm64-v8a, armeabi-v7a, x86_64, x86]
        target: [template_debug, template_release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Android SDK and NDK
        uses: android-actions/setup-android@v2

      # - name: Configure CMake
      #   run: |
      #     cmake -S . -B build \
      #       -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
      #       -DANDROID_ABI=${{ matrix.arch }} \
      #       -DANDROID_PLATFORM=android-21 \
      #       -DGODOTCPP_TARGET=${{ matrix.target }} \
      #       -DCMAKE_BUILD_TYPE=Release

      # - name: Build godotcoacd
      #   run: |
      #     cmake --build build --target godotcoacd --parallel 2
      
      - name: Copy libomp.so for Android
        run: |
          case "${{ matrix.arch }}" in
            arm64-v8a)
              OMP_ARCH=aarch64
              OMP_SUFFIX=arm64
              ;;
            armeabi-v7a)
              OMP_ARCH=arm
              OMP_SUFFIX=arm32
              ;;
            x86)
              OMP_ARCH=i386
              OMP_SUFFIX=x86_32
              ;;
            x86_64)
              OMP_ARCH=x86_64
              OMP_SUFFIX=x86_64
              ;;
          esac

          ls "$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/lib/clang/18/"
          ls "$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/lib/clang/18/lib"
          ls "$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/lib/clang/18/lib/linux"

          OMP_SRC="$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/lib/clang/18/lib/linux/$OMP_ARCH/libomp.so"
          OMP_DST="build/godotcoacd_dist/libomp.ios.${OMP_SUFFIX}.so"

          cp "$OMP_SRC" "$OMP_DST"

      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: godotcoacd-android-${{ matrix.arch }}-${{ matrix.target }}
          path: build/godotcoacd_dist/*
