name: Copy Licenses

on:
  workflow_call:
  workflow_dispatch:

jobs:
  licenses:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Create license folder
        run: |
          mkdir artifact/licenses/third-party
        
      - name: Copy godotcoacd license
        run: |
          copy LICENSE.txt artifact/licenses/LICENSE.txt

      - name: Copy CoACD license
        run: |
          copy CoACD-godot-src/LICENSE artifact/licenses/third-party/CoACD.txt

      - name: Copy CDT license
        run: |
          copy CoACD-godot-src/3rd/cdt/LICENSE artifact/licenses/third-party/CDT.txt

      - name: Copy Bullet3 headers
        run: |
          powershell -Command "Get-Content CoACD-godot-src/src/btConvexHull/btAlignedAllocator.cpp | Select-Object -First 14 | Set-Content artifact/licenses/third-party/Bullet3-0.txt"
          powershell -Command "Get-Content CoACD-godot-src/src/btConvexHull/btConvexHullComputer.cpp | Select-Object -First 13 | Set-Content artifact/licenses/third-party/Bullet3-1.txt"
          powershell -Command "Get-Content CoACD-godot-src/src/btConvexHull/btMinMax.h | Select-Object -First 13 | Set-Content artifact/licenses/third-party/Bullet3-2.txt"
      
      - name: Copy intersection.h header
        run: |
          powershell -Command "Get-Content CoACD-godot-src/src/intersection.h | Select-Object -Skip 12 -First 5 | Set-Content artifact/licenses/third-party/intersection_h.txt"

      - name: Copy Nanoflann header (lines 1-31)
        run: |
          powershell -Command "Get-Content CoACD-godot-src/src/nanoflann.hpp | Select-Object -First 31 | Set-Content artifact/licenses/third-party/Nanoflann.txt"

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        
      - name: Copy OMP Windows license
        run: |
          ls "$env:VSINSTALLDIR/Licenses/1033"
          copy "$env:VSINSTALLDIR/Licenses/1033/ThirdPartyNotices.txt" artifact/licenses/third-party/omp-windows.txt
      
      - name: Set up Android SDK and NDK
        uses: android-actions/setup-android@v2

      - name: Copy OMP Android license
        run: |
          copy "$env:ANDROID_NDK_HOME/toolchains/llvm/prebuilt/windows-x86_64/NOTICE" artifact/licenses/third-party/omp-android.txt
      
      - name: Configure CMake
        run: >
          cmake -S . -B build

      - name: Copy Boost license
        run: |
          copy build/_deps/boost-src/LICENSE_1_0.txt artifact/licenses/third-party/Boost.txt

      - name: Copy OpenVDB license
        run: |
          copy build/_deps/openvdb-src/LICENSE artifact/licenses/third-party/OpenVDB.txt

      - name: Copy SPDlog license
        run: |
          copy build/_deps/spdlog-src/LICENSE artifact/licenses/third-party/SPDlog.txt

      - name: Copy TBB licenses
        run: |
          copy build/_deps/tbb-src/third-party-programs.txt artifact/licenses/third-party/TBB-third-party.txt
          copy build/_deps/tbb-src/LICENSE.txt artifact/licenses/third-party/TBB.txt

      - name: Copy Zlib header (lines 1-29)
        run: |
          powershell -Command "Get-Content build/_deps/zlib-src/zlib.h | Select-Object -First 29 | Set-Content artifact/licenses/third-party/Zlib.txt"
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: godotcoacd-licenses
          path: artifact/