name: Build godotcoacd for iOS

on:
  workflow_call:

jobs:
  ios:
    name: arm64 - ${{ matrix.target }}
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        target: [template_debug, template_release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure CMake for iOS
        run: |
          cmake -S . -B build \
            -G Xcode \
            --toolchain godot-cpp/cmake/ios.toolchain.cmake \
            -DPLATFORM=OS64 \
            -DGODOTCPP_TARGET=${{ matrix.target }}
            
      - name: Build
        run: cmake --build build --target godotcoacd --config Release --parallel
      
      - name: Create XCFrameworks
        run: |
          xcodebuild -create-xcframework \
            -library build/bin/libgodotcoacd.ios.${{ matrix.target }}.arm64.a \
            -output build/godotcoacd_dist/libgodotcoacd.ios.${{ matrix.target }}.xcframework

          xcodebuild -create-xcframework \
            -library build/bin/libgodot-cpp.ios.${{ matrix.target }}.arm64.a \
            -output build/godotcoacd_dist/libgodot-cpp.ios.${{ matrix.target }}.xcframework
          
          xcodebuild -create-xcframework \
            -library build/CoACD-godot-src/Release-iphoneos/libcoacd.a \
            -output build/godotcoacd_dist/libcoacd.ios.${{ matrix.target }}.xcframework
          
          xcodebuild -create-xcframework \
            -library build/_deps/spdlog-build/Release-iphoneos/libspdlog.a \
            -output build/godotcoacd_dist/libspdlog.ios.${{ matrix.target }}.xcframework
          
          xcodebuild -create-xcframework \
            -library build/_deps/openvdb-build/openvdb/openvdb/Release-iphoneos/libopenvdb.a \
            -output build/godotcoacd_dist/libopenvdb.ios.${{ matrix.target }}.xcframework
          
          xcodebuild -create-xcframework \
            -library build/appleclang_17.0_cxx20_64_release/libtbb.a \
            -output build/godotcoacd_dist/libtbb.ios.${{ matrix.target }}.xcframework

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: godotcoacd-ios-arm64-${{ matrix.target }}
          path: build/godotcoacd_dist/*
