name: Build godotcoacd for iOS

on:
  workflow_dispatch:

jobs:
  ios:
    name: iOS (universal / ${{ matrix.target }})
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        target: [ios_device, ios_simulator]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure CMake for iOS
        run: |
          cmake -S . -B build \
            -G "Unix Makefiles" \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_SYSTEM_NAME=iOS \
            -DCMAKE_OSX_ARCHITECTURES="$([ "${{ matrix.target }}" = "ios_device" ] && echo "arm64" || echo "x86_64;arm64")" \
            -DCMAKE_OSX_SYSROOT=$([ "${{ matrix.target }}" = "ios_device" ] && echo "iphoneos" || echo "iphonesimulator") \
            -DGODOTCPP_TARGET=${{ matrix.target }} \
            -DCMAKE_TRY_COMPILE_TARGET_TYPE=STATIC_LIBRARY \
            -DOPENVDB_BUILD_VDB_PRINT=OFF


      - name: Build
        run: cmake --build build --target godotcoacd --parallel $(( $(sysctl -n hw.ncpu) - 1 ))

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: godotcoacd-ios-${{ matrix.target }}
          path: addons/godotcoacd/bin/*
