name: Build godotcoacd for macOS

on:
  workflow_dispatch:

jobs:
  macos:
    name: macOS (universal / ${{ matrix.target }})
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        target: [template_debug, template_release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install ccache
        run: |
          brew install ccache

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            build
            ~/.ccache
          key: macos-${{ matrix.target }}-${{ hashFiles('**/CMakeLists.txt') }}

      - name: Configure CMake
        run: |
          cmake -S . -B build \
            -G "Unix Makefiles" \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_BUILD_TYPE=Release \
            -DGODOTCPP_TARGET=${{ matrix.target }}

      - name: Build
        run: |
          cmake --build build --target godotcoacd --parallel $(( $(sysctl -n hw.ncpu) - 1 ))

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: godotcoacd-macos-universial-${{ matrix.target }}
          path: addons/godotcoacd/bin/*
