name: Build godotcoacd for macOS

on:
  workflow_dispatch:

jobs:
  macos:
    name: macOS (universial / ${{ matrix.target }})
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        target: [template_debug, template_release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          brew install cmake

      - name: Configure CMake (macOS)
        run: |
          cmake -S . -B build \
            -G "Unix Makefiles" \
            -DCMAKE_BUILD_TYPE=Release \
            -DGODOTCPP_TARGET=${{ matrix.target }}

      - name: Build
        run: |
          cmake --build build --target godotcoacd --parallel

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: godotcoacd-macos-universial-${{ matrix.target }}
          path: addons/godotcoacd/bin/*
