name: Build godotcoacd for macOS

on:
  workflow_call:
  workflow_dispatch:

jobs:
  macos:
    name: universal - ${{ matrix.target }}
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        target: [template_debug, template_release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure CMake
        run: |
          cmake -S . -B build \
            -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64" \
            -DCMAKE_BUILD_TYPE=Release \
            -DGODOTCPP_TARGET=${{ matrix.target }}

      - name: Build
        run: |
          cmake --build build --target godotcoacd --parallel $(sysctl -n hw.ncpu)

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: godotcoacd-macos-universial-${{ matrix.target }}
          path: build/godotcoacd_dist/*
