name: Build godotcoacd for Windows

on:
  workflow_call:
  workflow_dispatch:

jobs:
  windows:
    name: ${{ matrix.arch }} - ${{ matrix.target }}
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        arch: [x64, Win32, ARM64]
        target: [template_debug, template_release]

    steps:
      # - name: Checkout repository
      #   uses: actions/checkout@v4
      #   with:
      #     submodules: recursive

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}

      # - name: Configure CMake
      #   run: |
      #     cmake -S . -B build `
      #       -G "Visual Studio 17 2022" `
      #       -A ${{ matrix.arch }} `
      #       -DGODOTCPP_TARGET=${{ matrix.target }}

      # - name: Build
      #   run: |
      #     cmake --build build --target godotcoacd --config Release --parallel
        
      - name: Copy libomp.so for Android
        run: |
          case "${{ matrix.arch }}" in
            x64)
              OMP_ARCH=x64
              OMP_SUFFIX=x86_64
              ;;
            Win32)
              OMP_ARCH=x86
              OMP_SUFFIXx86_32
              ;;
            ARM64)
              OMP_ARCH=arm64
              OMP_SUFFIX=arm64
              ;;
          esac

          OMP_SRC="OMP_SRC="%VCToolsRedistDir%\%OMP_SUFFIX%\Microsoft.VC143.OpenMP\vcomp140.dll"
          OMP_DIR="build/godotcoacd_dist/libomp.windows.${OMP_SUFFIX}"
          OMP_DST="$OMP_DIR/vcomp140.dll"

          mkdir -p "$OMP_DIR"
          cp "$OMP_SRC" "$OMP_DST"
    
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: godotcoacd-windows-${{ matrix.arch }}-${{ matrix.target }}
          path: build/godotcoacd_dist/*
